header {
    padding: 30px;
    background-color: #daa158;
    border: solid 6px #deb075;
    
}

.top-text {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", serif;
    font-size: 32px;
    
}

.top-text h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

header ul li {
    display: flex;
    background-color: #deb075;
    padding: 8px;
    align-items: center;
    border-radius: 4px;
    border-bottom: 2px solid #000;
    &&:hover {
        background-color: #d99437;
    }
}

header ul li a {
    font-family: "Rubik", serif;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.conteiner-img {
    position: relative;
    
}

.conteiner-img img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}



.content {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #d99337c9;
    top: 30%;
    padding: 12px 0;
    width: 100%;
}

.conteiner-text {
    background-color: #ffecb0d5;
    text-align: center;
    padding: 20px;
    border: #daa158 solid 8px;
    box-shadow: 0 0 40px -18px #000;
}

.conteiner-text h1 {
    font-size: 46px;
    font-family: "Poppins", serif;
    margin: 8px;
    font-weight: 600;
}

.conteiner-text h2 {
    font-size: 30px;
    font-family: "Rubik", serif;
    font-weight: 500;
    border-bottom: solid 4px #d99437;
    padding-bottom: 8px;
}

.conteiner-info {
    padding: 32px;
    background-color: #deb175ce;
    margin: 2% 8%;
    border-radius: 12px;
    text-align: center;
}

.conteiner-info h1 {
    font-size: 32px;
    margin: 8px 20px;
    font-family: "Poppins", sans-serif;
}

.text-info {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    padding: 22px 0;
    background-color: #daa158;
    border-radius: 12px;
}

.info p {
    max-width: 420px;
    font-family: "Rubik", sans-serif;
    font-size: 22px;
}

.info i {
    font-size: 32px;
    color: #000000;
    margin: 12px;
}

.cardapio {
    width: 70%;
    max-width: 560px;
    margin: 30px 0;
}

.time {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.conteiner-info li {
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    text-align: start;
}

iframe {
    margin: 20px 0;
}

footer {
    display: flex;
    background-color: #d99437;
    padding: 20px 8px;
    justify-content: center;
    text-align: center;
}

footer p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}